@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Staatliches&display=swap');

/*--------------------C'EST LE GROS TITRE-------------------*/
.Name {
    height: 8vh;
    width: 98vw;
    display: inline-block;
    background-color: black;
    padding-bottom: 2rem;
    color: white;
}

h1 {
    height: auto;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    font-family: "Staatliches", sans-serif;
    font-weight: normal;
    font-size: 2rem;
}

h2 {
    width: 65%;
    height: 8vh;
    display: inline-block;
    text-align: end;
    font-size: 2rem;
    vertical-align: middle;
    font-family: "Staatliches", sans-serif;
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
}

.Name img {
    height: 8vh;
    width: auto;
    display: inline;
}

/*-------------------DANS LA BARRE DE NAV------------------*/
nav {
    height: 5vh;
    width: 98vw;
    font-family: "Staatliches", sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.categorie {
    font-size: 2rem;
    width: 40rem;
    text-align: center;
    border: 1px solid rgb(49, 49, 49);
}

/*---------------------LE CONTENUE-------------------------*/
main {
    height: 100vh;
    width: 98vw;
    font-family: "Schibsted Grotesk", sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

/*-------------------------LES CASES DES TRUCS VENDUS------------*/
.exp {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.article {
    border: 1px solid black;
    height: 40vh;
    width: 20vw;
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
    background-color: white;
    box-shadow: 0.2rem 0.2rem black;
}

.Type {
    height: 10%;
    display: flex;
    justify-content: start;
    font-weight: bold;
}

.image {
    height: 64%;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.info {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bouton {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: 10%;
}

button {
    color: white;
    height: 4.6vh;
    width: 6vw;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%)
}

/*--------------------LE GROS PIED--------------------------*/
footer {
    height: 35vh;
    width: 98vw;
    font-family: "Schibsted Grotesk", sans-serif;
    display: inline-block;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-top: 1px solid rgb(49, 49, 49);
}

.map {
    margin: 2rem;
    display: inline-block;
    margin-right: 15%;
    height: 80%;
    width: 27%;
}

.coordonnées {
    display: inline-block;
    text-align: center;
    margin-right: 25%;
}

.cgu {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 5%;

}


/*-------------------------POUR LES LIENS-----------------------*/
a {
    color: white;
    text-decoration: none;
}